<main class="container" #contenedorDiv>

    <section class="section section__resumen">
        
        <app-darshboard-header (sendOrderShowTransactionRegister)="receiveOrderShowTransactionRegister()"
        >
        </app-darshboard-header>
       <app-darshboard-balance-resume (childEvent)="handleChildBalanceResumeToParentDataReceived($event)" 
                        [nameTimeFilterReceived]="nameTimeFilter" 
                        [nameAccountFilter]="filters.account" 
                        [balanceReceivedIN]="movementResume.totalIN" 
                        [balanceReceivedOUT]="movementResume.totalOUT"></app-darshboard-balance-resume>
        <app-darshboard-accounts (childEvent)="handleChildAccountListToParentDataReceived($event)"
                        [orderResetReceived]="orderResetSend"
                >
        </app-darshboard-accounts>
        <app-darshboard-filters (childEvent)="handleChildFiltersToParentDataReceived($event)"
                        (sendOrderToShowCalendar)="receiveOrderToShowCalendar($event)"
                        [receivedInitialDateCalendarReceived]="initialDateCalendarSendPrintFilter"
                        [receivedFinalDateCalendarReceived]="finalDateCalendarToSendPrintFilter">
        </app-darshboard-filters>
       
    </section>

    
    <section class="section section__data__rows">
        <app-darshboard-movements [movementsReceived]="movementResume.movememts"></app-darshboard-movements>
    </section> 


    <div id="IDFormularyTransaction" [style.top.px]="posicionTop" [style.height.px]="divHeight">
        <app-transaction-form *ngIf="flagShowTransactionRegister"
                (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                [receivedTransaction] = "transaction">
        ></app-transaction-form>
    </div>

</main>


<app-calendar2 *ngIf="flagShowCalendar" [receiveGetInitOrFinalDate]="requestGetInitOrFinalDate"
(sendDateSelectedFromCalendar)="receivedDateSelectedFromCalendar($event)"
></app-calendar2>

<app-message-box></app-message-box>
