<div class="container" #contenedorDiv>
    <app-darshboard-header (sendOrderShowTransactionRegister)="receiveOrderShowTransactionRegister()"
                           (sendOrderCloseTransactionRegisterAndReloadRows)="receiveOrderCloseTransactionRegisterAndReloadRows()">
    </app-darshboard-header>
    <app-darshboard-balance-resume (childEvent)="handleChildBalanceResumeToParentDataReceived($event)" 
                                    [nameTimeFilterReceived]="nameTimeFilter" 
                                    [nameAccountFilter]="filters.account" 
                                    [balanceReceivedIN]="movementResume.totalIN" 
                                    [balanceReceivedOUT]="movementResume.totalOUT"></app-darshboard-balance-resume>
    <app-darshboard-accounts (childEvent)="handleChildAccountListToParentDataReceived($event)"
                            [orderResetReceived]="orderResetSend"
                            [orderReloadAccountReceived]="orderReloadAccountSend">
    </app-darshboard-accounts>
    <app-darshboard-filters (childEvent)="handleChildFiltersToParentDataReceived($event)"
                            (sendOrderToShowCalendar)="receiveOrderToShowCalendar($event)"
                            [receivedInitialDateCalendarReceived]="initialDateCalendarSendPrintFilter"
                            [receivedFinalDateCalendarReceived]="finalDateCalendarToSendPrintFilter">
    </app-darshboard-filters>
    <app-darshboard-movements [movementsReceived]="movementResume.movememts"></app-darshboard-movements>

    <app-calendario *ngIf="flagShowCalendar" [receiveGetInitOrFinalDate]="requestGetInitOrFinalDate"
                    (sendDateSelectedFromCalendar)="receivedDateSelectedFromCalendar($event)"
    ></app-calendario>


    <div id="IDFormularyTransaction" [style.top.px]="posicionTop" [style.height.px]="divHeight">
        <app-transaction-form
                (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                [receivedTransaction] = "transaction">
        ></app-transaction-form>
    </div>



</div>

<app-message-box></app-message-box>
