<div class="container__formulary">
    <div class="form__container">
        <div class="form__header">
            Crear transacción<i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
        </div>
        <div class="form__body">
            <div (click)="showPopUpByItem('calendar')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Fecha de registro:
                </span>
                <div class="detail__form__control">
                    <span>{{dateToShow | date: 'yyyy MM dd hh:mm aa'}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div (click)="showPopUpByItem('operation')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Operación:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.type == 'DEFAULT'">Seleccione</span>
                    <span *ngIf="transaction.type != 'DEFAULT'">{{operationTypeReceived.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'PAYMENT'" (click)="showPopUpByItem('transactionLoan')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    A qué préstamo hace referencia este pago:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.transactionLoanAssocToPay?.id == 0">Seleccione</span>
                    <span *ngIf="transaction.transactionLoanAssocToPay?.id != 0">COD: #{{transaction.transactionLoanAssocToPay?.id}} {{transaction.transactionLoanAssocToPay?.description}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'LOAN'" (click)="showPopUpByItem('counterpart')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    <span *ngIf="transaction.action == 'RECIBÍ'">¿Quien te prestó?</span>
                    <span *ngIf="transaction.action == 'REALICÉ'">¿A quien le prestaste?</span>
                </span>
                <div class="detail__form__control">
                    <span>{{transaction.counterpart.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'PAYMENT'" (click)="showPopUpByItem('counterpart')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    <span *ngIf="transaction.action == 'RECIBÍ'">¿Quien te pagó?</span>
                    <span *ngIf="transaction.action == 'REALICÉ'">¿A quien le pagaste?</span>
                </span>
                <div class="detail__form__control">
                    <span>{{transaction.counterpart.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div  class="form__control balance">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Monto (S./):
                </span>
                <input type="text" placeholder="00.00" [(ngModel)]="transaction.amount"  name="" id="">
            </div>
            <div class="form__control">
                <span> <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Motivo:
                </span>
                <input type="text" [(ngModel)]="transaction.description" placeholder="Compras mercado semanal.." name="" id="">
            </div>
            <div (click)="showPopUpByItem('account')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Cuenta:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.account.id == 0">Seleccione</span>
                    <span *ngIf="transaction.account.id != 0">{{transaction.account.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE' && transaction.account && transaction.account.paymentMethods.length > 0" (click)="showPopUpByItem('paymentMethod')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Forma de pago(Opcional):
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.paymentMethod.id == 0">Seleccione</span>
                    <span *ngIf="transaction.paymentMethod.id != 0">{{transaction.paymentMethod.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'TRANSFERENCE'" (click)="showPopUpByItem('accountDestiny')"class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Cuenta destino:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.account.id == 0">Seleccione</span>
                    <span *ngIf="transaction.account.id != 0">{{transaction.accountDestiny.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('subcategory')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Categoría:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.subCategory.id == 0">Seleccione</span>
                    <span *ngIf="transaction.subCategory.id != 0">{{transaction.subCategory.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('tags')" class="form__control__tag">
                <div class="tags__header">
                    <span> 
                        <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                        Tags(Opcional)
                    </span>
                    <span *ngIf="transaction.tags.length == 0">Seleccione <i class="fas fa-angle-right"></i></span>
                        
                </div>
                <ng-container *ngIf="transaction.tags.length > 0">
                    <div class="tags__body">
                        <span class="tags" *ngFor="let tag of transaction.tags">{{tag.name}}</span>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('recurrency')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Recurrencia
                </span>
                <div class="detail__form__control">
                    <span>25 de cada mes</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            
        </div>
        <div class="form__footer">
            <button (click)="closeFormularyPopUp()" type="button">Salir</button>
            <button (click)="create()" type="button">Crear</button>
        </div>

    </div>


    
    <app-transaction-operations-types *ngIf="shouldShowComponent('operation')" 
        (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"
        (sendItemSelected)="receiveTypeOperationItemSelected($event)"
        >
    </app-transaction-operations-types>
    
    <app-transaction-categories *ngIf="shouldShowComponent('subcategory')" 
        (sendItemSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-categories>
    
    <app-transaction-accounts *ngIf="shouldShowComponent('account')" [accountDestinyReceived] = "itemSelected" 
        (sendItemSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-accounts>
    
    <app-transaction-accounts *ngIf="shouldShowComponent('accountDestiny')" [accountDestinyReceived] = "itemSelected" 
        (sendItemSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-accounts>
    
    <app-transaction-tags *ngIf="shouldShowComponent('tags')" (sendTagsSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-tags>
    
    <app-transaction-counterpart *ngIf="shouldShowComponent('counterpart')" 
        (sendItemSelected)="receivedItemSelected($event)"
        (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-counterpart>

    <app-transaction-payment-method *ngIf="shouldShowComponent('paymentMethod')" [accountIdReceived] = "accountIdSendToPaymentMethodPopUp" 
        (sendItemSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-payment-method>

    <app-transaction-loan-assoc *ngIf="shouldShowComponent('transactionLoan')"
        (sendItemSelected)="receivedItemSelected($event)" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-loan-assoc>
    
        <!-- [receiveGetInitOrFinalDate]="requestGetInitOrFinalDate" -->
    <app-calendar2 *ngIf="shouldShowComponent('calendar')" 
        (sendDateSelectedFromCalendar)="receivedDateSelectedFromCalendar($event)"
        ></app-calendar2>
</div>