<div class="container__formulary">
    <div class="form__container">
        <div class="form__header">
            Crear transacción<i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
        </div>
        <div class="form__body">
            <div (click)="showPopUpByItem('operation')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Operación:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.type == 'DEFAULT'">Seleccione</span>
                    <span *ngIf="transaction.type != 'DEFAULT'">{{operationTypeReceived.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'LOAN'" (click)="showPopUpByItem('counterpart')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    <span *ngIf="transaction.action == 'RECIBÍ'">¿Quien te prestó?</span>
                    <span *ngIf="transaction.action == 'REALICÉ'">¿A quien le prestaste?</span>
                </span>
                <div class="detail__form__control">
                    <span>{{transaction.member.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'PAYMENT'" (click)="showPopUpByItem('counterpart')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    <span *ngIf="transaction.action == 'RECIBÍ'">¿Quien te pagó?</span>
                    <span *ngIf="transaction.action == 'REALICÉ'">¿A quien le pagaste?</span>
                </span>
                <div class="detail__form__control">
                    <span>{{transaction.member.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div  class="form__control balance">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Monto (S./):
                </span>
                <input type="text" placeholder="00.00" name="" id="">
            </div>
            <div class="form__control">
                <span> <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Motivo:
                </span>
                <input type="text" placeholder="Compras mercado semanal.." name="" id="">
            </div>
            <div (click)="showPopUpByItem('account')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Cuenta:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.account.id == 0">Seleccione</span>
                    <span *ngIf="transaction.account.id != 0">{{transaction.account.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type == 'TRANSFERENCE'" (click)="showPopUpByItem('accountDestiny')"class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Cuenta destino:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.account.id == 0">Seleccione</span>
                    <span *ngIf="transaction.account.id != 0">{{transaction.account.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('category')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Categoría:
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.category.id == 0">Seleccione</span>
                    <span *ngIf="transaction.category.id != 0">{{transaction.category.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('tags')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Tags(Opcional)
                </span>
                <div class="detail__form__control">
                    <span *ngIf="transaction.category.id == 0">Seleccione</span>
                    <span *ngIf="transaction.category.id != 0">{{transaction.category.name}}</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div *ngIf="transaction.type != 'TRANSFERENCE'" (click)="showPopUpByItem('recurrency')" class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Recurrencia
                </span>
                <div class="detail__form__control">
                    <span>25 de cada mes</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            
        </div>
        <div class="form__footer">
            <button (click)="closeFormularyPopUp()" type="button">Salir</button>
            <button type="button">Crear</button>
        </div>

        <app-transaction-operations-types *ngIf="shouldShowComponent('operation')" 
            (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"
            (sendItemSelected)="receiveTypeOperationItemSelected($event)"
            >
        </app-transaction-operations-types>
        <app-transaction-categories *ngIf="shouldShowComponent('category')" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-categories>
        <app-transaction-accounts *ngIf="shouldShowComponent('account')" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-accounts>
        <app-transaction-accounts *ngIf="shouldShowComponent('accountDestiny')" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-accounts>
        <app-transaction-tags *ngIf="shouldShowComponent('tags')" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-tags>
        <app-transaction-counterpart *ngIf="shouldShowComponent('counterpart')" (sendOrderCloseFormularyPopUp)="closeAllPopUpsByItem()"></app-transaction-counterpart>
    
    </div>
</div>