<div class="container__block__register">
    <main  #contenedorDiv class="block__register">
        <article  class="block__amount__date__desc"> 
            <input type="text" placeholder="00.00" [(ngModel)]="receivedTransaction.amount">
            <div class="filter filter__per__calendar" (click)="showCalendar()">
                <i class="far fa-calendar"></i>
                <span>{{dateRegister | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
            <textarea name="" id="" cols="30" rows="2" [(ngModel)]="receivedTransaction.description"></textarea>
        </article>
        <article (click)="bajarDiv('type')" class="block block__transaction">
            <p>{{showTextType}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article *ngIf="flagShowBlockMember" (click)="bajarDiv('member')" class="block block__transaction">
            <p *ngIf="receivedTransaction.member.id != 0">{{textMemberByTypetx}} {{receivedTransaction.member.name}}</p>
            <p *ngIf="receivedTransaction.member.id == 0">{{showTextCounterpart}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article  *ngIf="flagShowBlockLoanAssociated" (click)="bajarDiv('loanAssoc')" class="block block__transaction">
            <p *ngIf="receivedTransaction.idLoanAssoc != 0">Código de préstamo asociado: {{receivedTransaction.idLoanAssoc}}</p>
            <p *ngIf="receivedTransaction.idLoanAssoc == 0">{{TEXT_REQUEST_LOAN_ASSOC}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article (click)="bajarDiv('pmo')" class="block block__transaction">
            <p *ngIf="receivedTransaction.paymentMethod.id != 0">Medio de pago: {{receivedTransaction.paymentMethod.name}}</p>
            <p *ngIf="receivedTransaction.paymentMethod.id == 0">{{TEXT_REQUEST_PAYMENT_METHOD}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article *ngIf="flagShowBlockTransference" (click)="bajarDiv('pmd')" class="block block__transaction">
            <p *ngIf="receivedTransaction.paymentMethodDestiny.id != 0">Medio de pago destino: {{receivedTransaction.paymentMethodDestiny.name}}</p>
            <p *ngIf="receivedTransaction.paymentMethodDestiny.id == 0">{{TEXT_REQUEST_PAYMENT_METHOD_DESTINY}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article *ngIf="!flagShowBlockTransference" (click)="bajarDiv('category')" class="block block__transaction">
            <p *ngIf="receivedTransaction.category.id != 0">categoría: {{receivedTransaction.category.name}}</p>
            <p *ngIf="receivedTransaction.category.id == 0">{{TEXT_REQUEST_CATEGORY}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        <article *ngIf="!flagShowBlockTransference" (click)="bajarDiv('segment')" class="block block__transaction">
            <p *ngIf="receivedTransaction.segment.id != 0">grupo: {{receivedTransaction.segment.name}}</p>
            <p *ngIf="receivedTransaction.segment.id == 0">{{TEXT_REQUEST_GRUPO}}</p>
            <span class="link__show__comp"><i class="fas fa-external-link-alt"></i></span>
        </article>
        
        <div class="button__group">
            <button type="button" (click)="reset()"><i class="fas fa-trash-restore"></i></button>
            <button type="button" (click)="saveChanges()">Registrar</button>
            <button type="button" (click)="getOut()"><i class="fas fa-sign-out-alt"></i></button>
        </div>



        <!-- pop ups -->
        
        <div id="miDiv" [style.top.px]="posicionTop" [style.height.px]="divHeight">
            <i class="fas fa-long-arrow-alt-left back__arrow" (click)="subirDiv()"></i>

            <app-types-transactions [operationTypesReceived]="operationTypes"
                                    [receivedTextHeaderForm] = "showTextType"
                                    (sendTypeSelected)="receiveTypeSelected($event)" *ngIf="flagShowTypeComponent">
            </app-types-transactions>
            <app-member-list *ngIf="flagShowMemberComponent"
                                (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                                (sendItemSelected)="receivedItemSelected($event)"
                                [receivedTextHeaderForm] = "showTextCounterpart">
            </app-member-list>
            <app-payment-method-list *ngIf="flagShowPaymentMethodComponent"
                                        (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                                        (sendItemSelected)="receivedItemSelected($event)"
                                        [receivedTextHeaderForm] = "TEXT_REQUEST_PAYMENT_METHOD">
            </app-payment-method-list>
            <app-payment-method-list *ngIf="flagShowPaymentMethodDestinyComponent"
                                        (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                                        (sendItemSelected)="receivedItemSelected($event)"
                                        [receivedTextHeaderForm] = "TEXT_REQUEST_PAYMENT_METHOD_DESTINY">
            </app-payment-method-list>
            <app-category-list *ngIf="flagShowCategoryComponent"
                                (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                                (sendItemSelected)="receivedItemSelected($event)"
                                [receivedTextHeaderForm] = "TEXT_REQUEST_CATEGORY">
            ></app-category-list>
            <app-segment-list *ngIf="flagShowSegmentComponent"
                                (sendOrderClosePopUp)="receivedOrderClosePopUp()"
                                (sendItemSelected)="receivedItemSelected($event)"
                                [receivedTextHeaderForm] = "TEXT_REQUEST_GRUPO">
            >
            </app-segment-list>
        </div>

        <app-calendar2 *ngIf="flagShowCalendar" (sendDateSelectedFromCalendar)="receivedDateSelectedFromCalendar($event)"
        ></app-calendar2>

    </main>
</div>