/* ::::: formulary ::::: */

.container__formulary {
    width: 100%;
    height: 100%;
    background-color: #cccccc2a;
    position: fixed;
    top: 0;
    left: 0;
}

.form__container {
    margin: auto;
    margin-top: 20px;
    max-width: 450px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.form__container .form__header,
.form__container .form__body,
.form__container .form__footer {
    padding: 20px;
    box-sizing: border-box;
}

.form__container .form__header {
    border-bottom: 1px solid #ccc;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__header .fa-times {
    transition: all .2s ease-in-out;
}

.form__header .fa-times:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.form__container .form__footer {
    border-top: 1px solid #ccc;
    text-align: right;
}


    .form__footer button {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        padding: 8px 20px;
        margin-left: 10px;
    }
    .form__footer button:last-child {
        border: none;
        border-radius: 5px;
        background-color: #1e8d49;
        color: #fff;
    }
    .form__footer button:hover {
        cursor: pointer;
        outline: 1px solid green;
    }

.form__body {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}

.form__body .form__control {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.form__control:hover {
    cursor: pointer;
    outline: 1px solid #ccc;
}


::placeholder {
    font-size: 1rem;
}

input[type="text"] {
    width: 70%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
    padding-right: 10px;
}

.form__control.balance input{
    width: 50%;
    text-align: right;
}


/* ::: Form control ::: */
.form__control img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.form__control span {
    display: flex;
    align-items: center;
}

.form__control .detail__form__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__control .detail__form__control i {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}