<app-data-resume [resumenMovementDto]="resumenMovementDto" 
    (sendOrderShowFormularyPopUp)="receiveOrderCloseFormularyPopUp($event)"
    (sendDateRangeSelected)="receiveDateRangeSelected($event)"></app-data-resume>
<app-search-transactions></app-search-transactions>
<app-transactions-list 
    [receivedTransactions]="transactions"
    (sendOrderShowFormularyPopUp)="receiveOrderCloseFormularyPopUp($event)" (sendConfirmDelete)="receivedDeleteConfirm()"></app-transactions-list>

<app-transaction-form *ngIf="orderCloseormularyPopUp" 
    [receiveOrdershowFormulary]="sendOrdershowFormulary" 
    (sendReloadTransactionsOrderFromFormularyTx)="receivedReloadTransactionsOrderFromFormularyTx()"
    (sendOrderCloseFormularyPopUp)="receiveOrderCloseFormularyPopUp($event)"></app-transaction-form>
