 <div class="resume__container">
    <main>
        <!-- <header>
            <div class="details__header">

                <div class="filter__options">
                    <div class="option">
                        {{textByItemSelect}}
                    </div>
                    <div class="option">
                        <input type="number" [(ngModel)]="cant">
                    </div>
                    <div class="option">
                        <span><i class="fas fa-chevron-down"></i></span>
                        {{itemSelectShow}}
                        <div class="dropdowns">
                            <ng-container *ngFor="let option of uniqueOptions">
                                <p (click)="showItemSelected(option)">
                                    {{option.optionShow}}
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div (click)="sendDateRange()" class="option">
                        Filtrar
                    </div>
                </div>
                <div class="calendar__range">
                    <span (click)="showCalendar('beginDate')">                    
                        <i class="far fa-calendar-alt"></i> 
                        {{beginDate | date : 'YYY-MM-dd'}}
                    </span>
                    <span> - </span>
                    <span (click)="showCalendar('endDate')">
                        {{endDate | date : 'YYY-MM-dd'}}
                        <i class="far fa-calendar-alt"></i> 
                    </span>
                    <span (click)="filtrar()"><i class="far fa-check-circle"></i></span>
                </div>
            </div>
        </header> -->
        <section>
            <article>
                <label>S/ {{dataBalanceResume.totalIN}}</label>
                <span style="color: rgb(18, 201, 18);"><i class="fas fa-circle"></i> Ingresos</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalOUT}}</label>
                <span style="color: red;"><i class="fas fa-circle"></i>Salidas</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalIOweYou}}</label>
                <span style="color: rgba(165, 42, 42, 0.774);"><i class="fas fa-circle"></i>Debo</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalTheyOweMe}}</label>
                <span style="color: rgb(37, 37, 199);"><i class="fas fa-circle"></i>Me deben</span>
            </article>
        </section>
    </main >

 </div>

 <app-calendar2 *ngIf="flagShowCalendar" 
 (sendDateSelectedFromCalendar)="receivedDateSelectedFromCalendar($event)"
 ></app-calendar2>


