 <div class="resume__conatiner">
    <main>
        <header>
            <div class="details__header">
                <h3>Total Balance</h3>
                <p><i class="far fa-calendar-alt"></i> Desde: 2024-02-10 Hasta:2024-02-26</p>
            </div>
            <button (click)="showFormTransaction()">+ Add Transaction</button>
            <!-- <button (click)="orderCloseormularyPopUp = true;">+ Add Transaction</button> -->
        </header>
        <section>
            <article>
                <label>S/ {{dataBalanceResume.totalIN}}</label>
                <span style="color: rgb(18, 201, 18);"><i class="fas fa-circle"></i> Ingresos</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalOUT}}</label>
                <span style="color: red;"><i class="fas fa-circle"></i>Salidas</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalIOweYou}}</label>
                <span style="color: rgba(165, 42, 42, 0.774);"><i class="fas fa-circle"></i>Debo</span>
            </article>
            <article>
                <label>S/ {{dataBalanceResume.totalTheyOweMe}}</label>
                <span style="color: rgb(37, 37, 199);"><i class="fas fa-circle"></i>Me deben</span>
            </article>
        </section>
    </main >

 </div>

 <!-- <app-transaction-form *ngIf="orderCloseormularyPopUp" (sendOrderCloseFormularyPopUp)="receiveOrderCloseFormularyPopUp()"></app-transaction-form> -->


