<div class="container__formulary">
    <div class="form__header">
        Seleccione una categoría<i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
    </div>
    <div class="form__body">
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Operación:
            </span>
            <div class="detail__form__control">
                <span>Gasto</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Quien te prestó?:
            </span>
            <div class="detail__form__control">
                <span>Cinthia Eduardo Ortiz</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control balance">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Monto (S./):
            </span>
            <input type="text" placeholder="00.00" name="" id="">
        </div>
        <div class="form__control">
            <span> <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Motivo:
            </span>
            <input type="text" placeholder="Compras mercado semanal.." name="" id="">
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Cuenta:
            </span>
            <div class="detail__form__control">
                <span>BCP</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Cuenta destino:
            </span>
            <div class="detail__form__control">
                <span>BBVA</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Categoría:
            </span>
            <div class="detail__form__control">
                <span>mercado</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Tags(Opcional)
            </span>
            <div class="detail__form__control">
                <span>#kfc #mercado</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="form__control">
            <span> 
                <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                Recurrencia
            </span>
            <div class="detail__form__control">
                <span>25 de cada mes</span>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        
    </div>
    <div class="form__footer">
        <button (click)="closeFormularyPopUp()" type="button">Salir</button>
        <button type="button">Crear</button>
    </div>
</div>
