<div class="container__formulary">
    <div class="form__header">
        Seleccione una categoría<i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
    </div>
    <div class="form__body">
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9];">
            <div class="form__control">
                <span> 
                    <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                    Operación:
                </span>
                <div class="detail__form__control">
                    <span></span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </ng-container>        
    </div>
    <div class="form__footer">
        <button (click)="closeFormularyPopUp()" type="button">Salir</button>
        <button type="button">Crear</button>
    </div>
</div>
