<div class="container__formulary">
    <div class="form__container">
        <div class="form__header">
            Crear  <i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
        </div>
        <div class="form__body">
            <div class="form__control">
                <i class="fas fa-sitemap"></i>
                <input type="text" name="" [(ngModel)]="workspace.name" placeholder="Nombre su billetera para comenzar" id="">
                <span>active</span>
            </div>
            <!-- <div class="form__control__body">
                <p>Usuario asociados</p>
                <app-search></app-search>
                <div class="form__body__list">
                    <label *ngFor="let item of [1,2,3,4,5]">
                        <input type="radio" name="option" >
                        <i class="fas fa-layer-group"></i> 
                        Sin grupo
                    </label>
                </div>
            </div> -->
        </div>
        <div class="form__footer">
            <button (click)="closeFormularyPopUp()" type="button">Cancel</button>
            <button (click)="create()" type="button">Crear</button>
        </div>
    </div>
</div>
