<section class="section__balance">
    <div class="section__balance__header__name">

        <h4 *ngIf="nameAccountFilter"><i *ngIf="nameAccountFilter || nameTimeFilterReceived" (click)="resetAllFilters()" class="fas fa-history"></i> {{nameAccountFilter}}</h4>
        <h4 *ngIf="!nameAccountFilter"><i *ngIf="nameAccountFilter || nameTimeFilterReceived" (click)="resetAllFilters()" class="fas fa-history"></i> Resumen actual</h4>
        <p *ngIf="!nameTimeFilterReceived">Este mes</p>
        <p *ngIf="nameTimeFilterReceived">{{nameTimeFilterReceived}}</p>
    </div>
    <div class="section__balance__amounts__container">
        <div class="section__balance__amounts__amount">
            <span>{{balanceReceivedIN | number:'.2'  }}</span>
            <span>s/</span>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="section__balance__amounts__amount">
            <span>{{balanceReceivedOUT | number:'.2'  }}</span>
            <span>s/</span>
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
</section>
