header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 15px;
    font-size: .8rem;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

header  img {
    width: 30px;
    height: 30px;
}

section {
    display: flex;
    align-items: center;
}

section img {
    margin-right: 5px;
    margin-left: 10px;
}

article {
    position: relative;
}

article label {
    display: block;
}

article label:first-child {
    font-weight: bold;
}

/*::: pop up session close :::*/
.box__session__terminate {
    position: absolute;
    top: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 3;
    width: 200px;
    right: 0;
    background-color: #fff;
}

.box__session__terminate p {
    padding: 20px;
    text-align: center;
}

.fa-walking {
    margin-right: 10px;
}

@media screen and (max-width: 680px) {

    header {
        padding-right: 15px;
    }
}