header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: .8rem;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

header img {
    width: 33px;
    height: 33px;
}

section {
    display: flex;
    align-items: center;
}

section img {
    margin-right: 5px;
    margin-left: 10px;
}

article {
    position: relative;
}

article label {
    display: block;
}

article label:first-child {
    font-weight: bold;
}

/*::: pop up session close :::*/
.box__session__terminate {
    position: absolute;
    top: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 3;
    width: 200px;
    right: 0;
    background-color: #fff;
}

.box__session__terminate p {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.box__session__terminate p:hover {
    background-color: #cccccc56;
}

.box__session__terminate p:hover, 
.add__transaction:hover,
.fa-bars:hover,
header img:hover {
    cursor: pointer;
}

.fa-bars {
    font-size: 1.1rem;
}

.fa-walking {
    margin-right: 10px;
}

.add__transaction {
    padding: 9px 11px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(25, 196, 102);
}


@media screen and (max-width: 680px) {

    header {
        padding-right: 15px;
    }
}