<!-- <h1>filters</h1> -->
<main class="main__filters" *ngIf="receivedFilters.length > 0">
    <section class="filter__container">
        <ng-container *ngFor="let item of receivedFilters; let i = index;">
            <article class="filters" (click)="showFilters(item)">
                <i class="fas fa-yen-sign"></i>
                <span>{{item.item}}</span>
            </article>
        </ng-container>
    </section>
    <section class="filtered__elements" *ngIf="itemsFilter.itemList.length > 0">
        <ng-container *ngFor="let item of itemsFilter.itemList;">
            <article class="elements" (click)="itemFilteredSeleceted(item)">
                <!-- <span><i class="fas fa-times"></i></span> -->
                <span class="item">{{item.name | lowercase}}</span>
                <span class="item item__count">{{item.total}}</span>
            </article>
        </ng-container>
    </section>
</main>