.main__filters {
    /* border: 1px solid red; */
}

.filter__container {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.filters {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 5px;
}

    .filters span {
        font-size: .8rem;
    }



.filtered__elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .elements {
        font-size: .8rem;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #e2e2e2;
        border: 1px solid gray;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .item {
            margin-left: 10px;
        }

        .item__count {
            padding-top: 2px;
            text-align: center;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            color: #fff;
            background-color: gray;
        }

        .filters:hover, .elements:hover {
            cursor: pointer;
        }