<div class="container__calendars">
  <div class="calendars">
      <div *ngFor="let calendar of calendars; let i = index" class="calendar">
        <div class="calendar__header">
          <button (click)="changeMonth(i, -1)"><i class="fas fa-chevron-left"></i></button>
          <span>{{ meses[calendar.mes] }} {{ calendar.anio }}</span>
          <button (click)="changeMonth(i, 1)"><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="calendar__week__days">
          <div *ngFor="let dia of diasSemana" class="dia-semana">{{ dia }}</div>
        </div>
        <div class="calendar__days">
          <div *ngFor="let dia of generarDias(calendar.mes, calendar.anio)" 
              (click)="selectDate(dia.day, calendar.mes, calendar.anio)"
              class="day" [ngClass]="{'last__month': dia.index === -1, 'actual__month': dia.index === 0, 'next__month': dia.index === 1}">
            {{dia.day}}
          </div>
        </div>
      </div>
  </div>
</div>


  