<section #contenedorDiv class="block__elements__container">
    <div class="block__elements__header">
        <i class="fas fa-long-arrow-alt-left back__arrow" (click)="back()"></i>
        <h3>{{receivedTextHeaderForm}}</h3>
        <app-search [receivedDataFromFather]="listaCategoriesSendSearch" (sendDataFromSearchToFather)="receivedDataFromSearch($event)"></app-search>
    </div>
    <section class="block__elements__body" *ngIf="categories.length>0; else template__no__data">
        <ng-container *ngFor="let item of categories;" >
            <article class="block__element" (click)="catchItemSelected(item)">
                <div class="icon__container">
                    <i class="icon fas fa-dollar-sign"></i>
                    <i class="btn__actions fas fa-trash-alt"></i>
                    <i class="btn__actions far fa-edit"></i>
                </div>
                <span class="item__name">{{item.name | lowercase}}</span>
            </article>
        </ng-container>
    </section>
    <ng-template #template__no__data>
        <section class="section__no__data" *ngIf="!flagDataLoaded">
            <p>Cargando...</p>
        </section>
        <section class="section__no__data" *ngIf="flagDataLoaded && !flagIsDataFiltered">
            <p>No se encontraron registros.</p>
            <button class="button__new__register" (click)="showFormularyRegister(null)" type="button">Registre uno nuevo</button>
        </section>
        <section class="section__no__data" *ngIf="flagDataLoaded && flagIsDataFiltered">
            <p>No se encontraron coincidencias con el nombre <b>{{textFiltered}}</b> filtrado.</p>
            <button class="button__new__register" (click)="showFormularyRegister(null)" type="button">¿Desea registrarlo?</button>
        </section>
    </ng-template>

    <!-- <i class="fas fa-long-arrow-alt-left back__arrow" (click)="back()"></i> -->


    <div id="miDiv" [style.top.px]="posicionTop" [style.height.px]="divHeight">
<!-- 
        <app-category-form *ngIf="flagShowFormulary" 
                           [categoryReceivedFromCategories]="category"
                           [textHeaderReceivedFromCategories] = "showTextHeader"
                           (sendOrderClosePopUp)="backForm()"
                           (sentSuccessfullyProcessingFromFormulary)="receivedSuccessfullyProcessingFromFormulary()">
        </app-category-form> -->
    </div>

</section>
