
/* ::::: categories ::::: */
main {
    padding: 20px;
    height: 100%;
}

main>h3 {
    margin-bottom: 20px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: .85rem;
    color: #636363;
}

.new__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

article {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.article__mask__actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c9bfbf33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__mask__actions {
    width: 0%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.article__mask__actions.show__block {
    width: 100%;
}

.article__mask__actions i {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 7px 8px;
    border-radius: 50%;
    background-color: #fff;
}

.article__mask__actions i:hover {
    color: #fff;
    cursor: pointer;
    background-color: #000;
}

article.new__item:hover {
    border: 1px solid dotted !important;
    cursor: pointer;
}

    .new__item i{
        margin-right: 10px;
    }

    article header {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    header .details {
        width: 100%;
    }

    header .details i:hover {
        cursor: pointer;
        font-weight: bold;
    }

    header .details h3 {
        font-size: .95rem;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
        header img{
            width: 20px;
            height: 20px;
            margin-right: 15px;
            display: inline-block;
        }

        header .details span{
            display: flex;
            align-items: center;
        }

    article footer {
        padding: 5px 10px;
        border-top: 1px solid #ccc;
    }

        footer .dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }


@media screen and (max-width: 1024px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 980px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 480px) {
    section {
        grid-template-columns: 1fr;
    }

    main {
        padding: 10px;
    }

    article {
        margin-right: 0;
    }

    .form__container {
        width: 95%;
        font-size: .9rem;
    }
}
