<section class="block__register__operation__type">
    <h3>{{receivedTextHeaderForm}}</h3>

  <section class="block__input__member">
      <div class="form__control__icon__search">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Busque o registre una nueva contraparte...">
      </div>
  </section>
  <p class="middle__title">Seleccione alguna contraparte:</p>
  <section class="operation__types__container" >
      <article class="operation__type" *ngFor="let item of members;">
          <div class="icon__container">
              <i class="icon fas fa-dollar-sign"></i>
          </div>
          <span class="item__name">{{item.name | lowercase}}</span>

      </article>
  </section>
</section>