<div class="container__formulary">
    <div class="form__container">
        <div class="form__header">
            Crear  <i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
        </div>
        <div class="form__body">
            <div class="form__control">
                <i class="fas fa-sitemap"></i>
                <input type="text" name="" [(ngModel)]="account.name" placeholder="Escribe el nombre de tu cuenta .." id="">
                <span>{{account.active}}</span>
            </div>
            <div class="form__control__balance fcbalance">
                <span> Balance (S./)</span>
                <input type="text" placeholder="00.00 ..." [(ngModel)]="account.currentBalance" name="" id="">
            </div>
            <div class="form__control__balance fcbalance" (click)="flagShowFormCardType = true;">
                <span> Tipo de Tarjeta:</span>
                <span *ngIf="!account.cardType || account.cardType.id == 0">Selecione <i class="fas fa-angle-right"></i></span>
                <span *ngIf="account.cardType && account.cardType.id != 0">{{account.cardType.name}}</span>
            </div>
            <app-card-type-form *ngIf="flagShowFormCardType" (sendCardTypeSelected)="receiveCardTypeSelected($event)"></app-card-type-form>
            <app-payment-method-form *ngIf="!flagShowFormCardType" (sendPaymentsMethodsSelected)="receivePaymentsMethodsSelected($event)"></app-payment-method-form>
        </div>
        <div class="form__footer">
            <button (click)="closeFormularyPopUp()" type="button">Cancel</button>
            <button *ngIf="idAccountReceived==0" (click)="createAccount()" type="button">Crear</button>
            <button *ngIf="idAccountReceived!=0" (click)="updateAccount()" type="button">Actualizar</button>
        </div>
    </div>
</div>
