main {
    display: grid;
    grid-template-columns: 200px 1fr;
}

section {
    width: 100%;
    /* background-color: rgb(4, 184, 34); */
    height: calc(100vh - 50px);
    overflow-y: auto;
}

article {
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: bisque; */
}

aside {
    display: block;
}


@media screen and (max-width: 680px) {
    aside {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }
}
