<ng-container *ngFor="let item of [1,2,3,4,5,6]">
    <div class="tx__item">
        <div class="tx__item__header">
            <div class="txih__left">
                <div class="txihl__data">
                    <img src="../../../../assets/icons/discount-svgrepo-com.png" alt="" srcset="">
                    <div class="txihld__main">
                        <p>Gustitos alquiler</p>
                        <label>
                            <i class="far fa-user"></i>
                            <span>Cinthia</span>
                        </label>
                        <label class="showWebTime">
                            <i class="far fa-clock"></i>
                            <span>2024-02-29 10:20 PM</span>
                        </label>
                        <label class="showWeb">
                            <i class="fas fa-wallet"></i>
                            <span>Yape</span>
                        </label>
                        <label class="showWeb">
                            <i class="fas fa-credit-card"></i>
                            <span>BCP</span>
                        </label>
                        <label class="showWeb">
                            <i class="fas fa-tags"></i>
                            <span>#kfc #anticucho</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="txih__right">
                <div class="txihr__amount">
                    <span>S/.</span>
                    <span>85.00</span>
                </div>
                <div class="txihr__status">
                    <span>pending</span>
                </div>
            </div>
        </div>
        <div class="tx__item__body">
            <div class="txihl__data showMovil">
                <label>
                    <i class="fas fa-wallet"></i>
                    <span>Yape</span>
                </label>
                <label>
                    <i class="fas fa-credit-card"></i>
                    <span>BCP</span>
                </label>
            </div>
            <div class="txib__data">
                <p>Lorem ipsum dolor sit amet ci officia dolorum rerum architecto itaque.</p>
            </div>
        </div>
        <div class="tx__item__footer">
            <label class="showMovilTime">
                <i class="far fa-clock"></i>
                <span>2024-02-29 10:20 PM</span>
            </label>
            <label>
                <i class="far fa-trash-alt"></i>
                <i class="fas fa-edit"></i>
            </label>
        </div>
    </div>
</ng-container>



