<ng-container *ngIf="receivedTransactions.length>0; else templateNoData">
    <div *ngFor="let item of receivedTransactions" class="tx__item">
        <div class="tx__item__header">
            <div class="txih__left">
                <div class="txihl__data">
                    <img src="../../../../assets/icons/discount-svgrepo-com.png" alt="" srcset="">
                    <div class="txihld__main">
                        <p *ngIf="item.type != 'TRANSFERENCE' && item.subCategory">{{item.subCategory.name}}</p>
                        <p *ngIf="item.type == 'TRANSFERENCE'">{{setFormatTextTransference(item.account, item.accountDestiny)}}</p>
                        <label>
                            <i class="far fa-user"></i>
                            <span>User: {{item.responsableUser.firstname}}</span>
                        </label>
                        <label class="showWebTime">
                            <i class="far fa-clock"></i>
                            <span>{{item.createAt  | date: 'YYYY-MMM-dd hh:mm'}}</span>
                        </label>
                        <label class="showWeb" *ngIf="item.paymentMethod && item.paymentMethod.id != 0 && item.type != 'TRANSFERENCE'">
                            <i class="fas fa-wallet"></i>
                            <span>{{item.paymentMethod.name}}</span>
                        </label>
                        <label *ngIf="item.type != 'TRANSFERENCE'"class="showWeb">
                            <i class="fas fa-credit-card"></i>
                            <span>{{item.account.name}} </span> <span *ngIf="item.account.cardType">({{item.account.cardType!.name | lowercase}})</span>
                        </label>
                        <!-- <label *ngIf="item.tags.length > 0" class="showWeb">
                            <i class="fas fa-tags"></i>
                            <span *ngFor="let tag of item.tags">#{{tag.name}}</span>
                        </label> -->
                    </div>
                </div>
            </div>
            <div class="txih__right">
                <div class="txihr__amount">
                    <span *ngIf="item.block == 'IN'">+ S./ </span>
                    <span *ngIf="item.block == 'OUT'">- S./ </span>
                    <span>{{item.amount}}</span>
                </div>
                <div *ngIf="item.type == 'LOAN' 
                    || (item.type == 'EXPENSE' && item.account.cardType && item.account.cardType.fixedParameter == true) 
                    || (item.type == 'TRANSFERENCE' && item.account.cardType && item.account.cardType.fixedParameter == true)" class="txihr__status">
                    <span style="color:#fff; background-color: red;" *ngIf="item.status == 'PENDING'">pendiente s./ {{item.remaining}}</span>
                    <span style="color:#fff; background-color: rgb(47, 170, 47);" *ngIf="item.status == 'PAYED'">pagado</span>
                </div>
            </div>
        </div>
        <div class="tx__item__body">
            <div *ngIf="item.type != 'TRANSFERENCE'" class="txihl__data showMovil">
                <label *ngIf="item.paymentMethod && item.paymentMethod.id != 0">
                    <i class="fas fa-wallet"></i>
                    <span>{{item.paymentMethod.name}}</span>
                </label>
                <label>
                    <i class="fas fa-credit-card"></i>
                    <span>{{item.account.name}} </span> <span *ngIf="item.account.cardType">({{item.account.cardType!.name | lowercase}})</span>
                </label>
            </div>
            <div class="txib__data">
                <p>
                    <span *ngIf="item.type == 'TRANSFERENCE'">{{setFormatTextTransference(item.account, item.accountDestiny)}}</span>
                    <span *ngIf="item.type != 'TRANSFERENCE'" [ngStyle]="{'color': setTypeTransaction(item.type, item.action).color}">{{setTypeTransaction(item.type, item.action).name}}: </span>
                    <span *ngIf="item.type == 'LOAN'">
                        <span *ngIf="item.action == 'REALICÉ'">Se prestó a : <i>{{item.counterpart.name}}</i></span>
                        <span *ngIf="item.action == 'RECIBÍ'">Me prestó : <i>{{item.counterpart.name}}</i></span>
                    </span>
                    <span *ngIf="item.type == 'PAYMENT'">
                        <ng-container *ngIf="item.transactionLoanAssocToPay!.remaining > 0">
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'LOAN' && item.action == 'REALICÉ'">Pagué una parte de un <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{setTypeTransaction(item.transactionLoanAssocToPay!.type, item.transactionLoanAssocToPay!.action).name}} (pendiente: {{item.transactionLoanAssocToPay!.remaining}}) COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'LOAN' && item.action == 'RECIBÍ'">Me pagaron una parte de un <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{setTypeTransaction(item.transactionLoanAssocToPay!.type, item.transactionLoanAssocToPay!.action).name}} (pendiente: {{item.transactionLoanAssocToPay!.remaining}}) COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'TRANSFERENCE'">Pagué parte de una dedua de la tarjeta de crédito de <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{item.transactionLoanAssocToPay!.account.name}} (pendiente: {{item.transactionLoanAssocToPay!.remaining}}) COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'EXPENSE'">Pagué parte de un gasto de la tarjeta de crédito de <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{item.transactionLoanAssocToPay!.account.name}} (pendiente: {{item.transactionLoanAssocToPay!.remaining}}) COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                        </ng-container>
                        <ng-container *ngIf="item.transactionLoanAssocToPay!.remaining == 0">
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'LOAN' && item.action == 'REALICÉ'">Pagué por completo un <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{setTypeTransaction(item.transactionLoanAssocToPay!.type, item.transactionLoanAssocToPay!.action).name}} COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'LOAN' && item.action == 'RECIBÍ'">Me pagaron por completo un <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{setTypeTransaction(item.transactionLoanAssocToPay!.type, item.transactionLoanAssocToPay!.action).name}} COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'TRANSFERENCE'">Pagué por completo una dedua de la tarjeta de crédito de <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{item.transactionLoanAssocToPay!.account.name}} COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>
                            <span *ngIf="item.transactionLoanAssocToPay!.type == 'EXPENSE'">Pagué por completo un gasto de la tarjeta de crédito de <a (click)="showTransactionAssoc(item.transactionLoanAssocToPay!.id)"><i>{{item.transactionLoanAssocToPay!.account.name}} COD: OPE{{item.transactionLoanAssocToPay!.id}}</i></a></span>    
                        </ng-container>
                    </span>
                    <span *ngIf="item.description"> con motivo:  {{item.description}}</span>
                    <span *ngFor="let tag of item.tags">  | #{{tag.name}}</span>
                </p>
            </div>
        </div>
        <div class="tx__item__footer">
            <label class="showMovilTime">
                <i class="far fa-clock"></i>
                <span>{{item.createAt  | date: 'YYYY-MMM-dd hh:mm'}}</span>
            </label>
            <label>
                <i (click)="TransactionDelete(item.id)" class="far fa-trash-alt"></i>
                <i (click)="showUpdateTransaction(item.id)" class="fas fa-edit"></i>
            </label>
        </div>
    </div>
</ng-container>

<ng-template #templateNoData>
    <div class="no_data">
        <p>Sin operaciones aún? , <a (click)="showUpdateTransaction(0)">Ingresa tu primer registro</a></p>
        <!-- <img src="../../../../assets/icons/9264885.jpg" alt="" srcset=""> -->
    </div>
</ng-template>



