<main>
    <h3>Configuración de cuentas</h3>
    <section>
        <article class="new__item" (click)="orderShowPopUp = true">
            <i class="fas fa-plus"></i> Crear nuevo
        </article>
        <ng-container *ngFor="let item of accounts">
            <article>
                <header>
                    <img src="../../../assets/icons/key-card_9055685.png" alt="">
                    <div class="details">
                        <div class="details__data">
                            <h3>{{item.name}} </h3>
                            <label>
                                <span>S./ {{item.currentBalance | number:'.2-2' }}</span>
                                <i (click)="showMaskAsctions(item)" class="fas fa-ellipsis-v"></i>
                            </label>
                        </div>
                        <label>
                            <span *ngIf="item.cardType">{{item.cardType.name}}</span>
                            <span *ngIf="item.active"><i class="fas fa-circle"></i> Activado</span>
                            <span *ngIf="!item.active"><i class="fas fa-circle"></i> Desactivado</span>
                        </label>

                        <!-- <span><i class="fas fa-circle"></i> {{item.active}}</span> -->
                    </div>
                </header>
                <footer>
                    <ng-container *ngIf="item.paymentMethods.length > 0; else template">
                        <div class="dropdown"  >
                            <span *ngFor="let subItem of item.paymentMethods">{{subItem.name}}</span>
                        </div>
                    </ng-container> 
                </footer>

                <div class="article__mask__actions" [ngClass]="{'show__block': flagShowMaskAsctions && item.selected}">
                    <i class="far fa-trash-alt"></i>
                    <i (click)="updateAccount(item.id)" class="far fa-edit"></i>
                    <i (click)="showMaskAsctions(item)" class="fas fa-times"></i>
                </div>
            </article>
        </ng-container>
    </section>

    <app-account-form *ngIf="orderShowPopUp" 
        [nameSearchedReceive]="account.name"
        (sendOrderCloseFormularyPopUp)="receiveOrderCloseFormularyPopUp()">
    </app-account-form>
    
</main>

<ng-template #template>
   <span>Agregue formas de pago (Opcional)</span>
</ng-template>
