<section class="section__body">
    <div class="section__body__transactions">
        <ng-container *ngIf="movementsReceived.length > 0; else containerNotContent">
            <ng-container *ngFor="let transaction of movementsReceived; let index = index;">
                <div class="transactions__item">
                    <header class="item__header">
                        <section class="item__header__icon">
                            <i class="fas fa-ellipsis-v"></i> 
                            <i class="fal fa-random"></i>
                        </section>
                        <section class="item__header__data__container">
                            <article class="item__header__title__amount">
                                <h5>{{transaction.headerTitle}}</h5>
                                <section class="header__amount">
                                    <span>{{transaction.amount | number:'.2' }}</span>
                                    <!-- <span>s/</span> -->
                                </section>
                            </article>
                            <article class="header__description">{{transaction.description}}</article>
                        </section>
                    </header>
                    <footer class="item__footer">
                        <span>{{transaction.createAt | date:'EEEE YYYY-MM-dd hh:mm:ss' }}</span>
                        <span style="color: red;" *ngIf="transaction.type == 'LOAN' && transaction.status == 'PENDING'">{{transaction.status | lowercase}}</span>
                        <span style="color: green;" *ngIf="transaction.type == 'LOAN' && transaction.status != 'PENDING'" >{{transaction.status | lowercase}}</span>
                    </footer>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <ng-template #containerNotContent>
        No hay registros para el filtro seleccionado
    </ng-template>

    <button (click)="showTransactionRegister()" class="section__actions__add__button"><i class="fas fa-plus"></i> Add transaction</button>
    
</section>
