.section__body {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    padding-bottom: 65px;
    width: 100%;
}

.section__body__transactions {
    height: 100%;
    overflow-y: auto;
}

    button {
        padding: 15px;
        border-radius: 10px;
        font-size: 1rem;
        width: calc(100% - 40px);
        border: none;
        outline: none;
        color: #FFF;
        background-color: #7C47DF;
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 10px;
    }

        button:hover {
            cursor: pointer;
            background-color: rgb(111, 40, 239);
        }



.transactions__item {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid rgb(197, 197, 197);
}

    .item__header {
        padding: 10px;
        box-sizing: border-box;
        display: grid;
        align-items: flex-start;
        grid-template-columns:55px 1fr;
    }

        .item__header__icon .fa-random{
            border: 1px solid gray;
            border-radius: 50%;
            padding: 5px;
            height: 30px;
            width: 30px;
            text-align: center;
            margin-left: 10px;
        }

        .item__header__data__container {
        }

        .item__header__title__amount {
            margin-bottom: 5px;
        }

        .item__header__title__amount .header__amount {
            margin-left: 10px;
        }

            .item__header__data__container .item__header__title__amount{
                display: flex;
                justify-content: space-between;
            } 

        .header__description {
            word-break: break-all;
            font-size: .9rem;
        }


    .item__footer {
        padding: 10px;
        font-size: .9rem;
        display: flex;
        justify-content: space-between;
    }

    .fa-plus {
        padding-right: 10px;
    }

    @media screen and (max-width: 400px) {

        .section__body {
            padding: 10px;
        }

        .section__actions {
            margin-top: 10px;
        }
    }