<section class="section__body">
    <div class="section__body__transactions">
        <ng-template *ngIf="movementsReceived.length > 0 then templateRows else templateNotContent">
            
        </ng-template>
    </div>

    <ng-template #templateRows>
        <ng-container *ngFor="let transaction of movementsReceived; let index = index;">
            <div class="transactions__item">
                <div class="transaction__item__header">
                    <div class="item__header__description">
                        <div class="header__description__icon">
                            <i class="fal fa-random"></i>
                        </div>
                        <div class="header__description__title">
                            <h5>{{transaction.headerTitle}}</h5>
                            <p>{{transaction.description}}</p>
                        </div>
                    </div>
                    <div class="item__header__amount">
                        <span>{{transaction.amount | number:'.2' }}</span>
                        <span>s/</span>
                    </div>
                </div>
                <div class="transaction__item__footer">
                    <span *ngIf="transaction.status == 'LOAN'">{{transaction.status}}</span>
                    <span>{{transaction.createAt}}</span>
                </div>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #templateNotContent>
        No hay registros para el filtro seleccionado
    </ng-template>
    
</section>
