<div class="container__formulary">
    <div class="form__container">
        
        <div class="form__header">
            Seleccione una cuenta {{accounDestinyText}} <i (click)="closeFormularyPopUp()" class="fas fa-times"></i>
        </div>
        <div class="form__body">
            <app-search [receivedDataFromFather]="itemsSearched" (sendDataFromSearchToFather)="receiveDataFromSearch($event)"></app-search>
            <ng-container *ngFor="let item of accounts;">
                <div (click)="itemSelected(item)" class="form__control">
                    <span> 
                        <img src="../../../../assets/icons/credit-card_4021605.png" alt="">
                        {{item.name}}
                    </span>
                    <div class="detail__form__control">
                        <span>S/. {{item.currentBalance}}</span>
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </ng-container>        
        </div>
        <div class="form__footer">
            <button *ngIf="accounts.length == 0" (click)="showFormulary()" type="button">Crear</button>
            <button (click)="closeFormularyPopUp()" type="button">Salir</button>
        </div>
    </div>


    
    <app-account-form *ngIf="orderShowPopUp" 
        [nameSearchedReceive]="account.name"
        (sendOrderCloseFormularyPopUp)="receiveOrderCloseFormularyPopUp()">
    </app-account-form>
</div>