/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap'); */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body, html {
    font-family: 'Arial', sans-serif;
    /* font-family: 'Raleway'; */
    color: #333;
    /* background-color: beige; */
    margin: 0;
    padding: 0;
}

ul, li, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.fa-circle {
   font-size: .5rem;
   margin-right: 5px;
}