<section class="section__show__accounts">
    <ng-container *ngFor="let account of accounts; let index = index;">
            <label class="section__show__accounts__item" for="option-{{index}}" (click)="sendNameAccountToParentFilter(account.name)">
                <div class="item__header">
                    <span>{{account.name}}</span>
                    <input type="radio" name="group1" id="option-{{index}}" [value]="account.name" [(ngModel)]="orderResetReceived">
                </div>
                <div class="item__footer">
                    <span>balance</span>
                    <span>{{account.currentBalance | number:'.2'}} s/</span>
                </div>
            </label>  
    </ng-container>
</section>